* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    font-family: 'Salsa', cursive; /* samsett skipun: weight/height, size, family */
    background-color: navy;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
blockquote {
    background-color: rgba(255,255,255,   .3);
    color:#000;
}
.container {
    margin: 0 ; 
    padding: 0,5em;
}
.headcolor , .footcolor {
    color: #fff;
} 
.bgcolor {
    background-color: yellow;
    padding:1em;
}
.topnav a, .footnav a {
    color:#FFF;
    text-decoration: none; 
}
.topnav {
    margin-top: 3em;
}
.topnav a{
    padding-left: 2em;
}
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.footnav {
    padding: 0;
}
.verkefni {
   text-align: center;
}
.marginb {
    margin-bottom: -1em;
}
.margint {
    margin-top:4em;
}
.innermenu {
    display: flex;
    justify-content: center;
}
.innermenu a {
    color:yellow;
    background-color:  navy;
    padding: .5em 1em ;
    margin-top: 1em;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.innermenu a:last-child {
    border:0;
}
.innermenu a:hover , .innermenu a:active {
    color: navy;
    background-color: yellow;
}
.topnav a:hover, .footnav a:hover {
    text-decoration:underline;
}
.topbutt {
    display: block;
    position: fixed;
    bottom:2em;
    right:2em;
    border-radius: 100%;
    padding-bottom: 0.2em;   
    padding: 0;
    border: 2px solid navy;
    color: navy;
    font-size: 1.5em;
    width: 1.75em;
    text-align: center;
    text-decoration: none;
    background-color: yellow;
}
.title{
    text-align: center;
    size:50%;
}
    /* grid */
.col-2 {
    display: grid;
    grid-template-columns:  1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.copy {
    text-align: center;
    color:#FFF;
}
img {
    max-width: 100%;
    height: auto;
}
.mynd1 {
    height:100px ;
    width: 75px;
    float:left;
}
.mynd2 {
    width: 300px;
    height:200px;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.mynd3 {
    width: 300px;
    height: 300px;
}
.profmynd {
    height: 400px;
    width: 400px;
}
@media screen and (min-width:48em) {
    .col-3,
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    blockquote {
        background-color: rgba(255,255,255,   .3);
        color:#000;
        padding: 1em;
    }
    .verkefni {
        text-align: right;
    }
}
/**** 60em****/
@media screen and (min-width:60em) {
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gap-4 {
        grid-gap: 4em
    }
    .container {
        max-width: 60em; /*960px = fartölvur*/
        margin: 0 auto; /* top+bottom og left+right */
        padding: 0;
    }
    .mtop5em {
        margin-top: 5em;
    }
    .flright {
        float: right;
    }
    .title {
        padding: 2em 0 0 0;
    }
    .video {
        width: 33em ;
        height: 20em ;
    }
    .kort {
        width: 18,5em ;
        height: 12em ;
    }
}