h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: maroon;
}
ul {
    color: darkgreen;
}
p5 {
    color: red;
}
p3 {
    color: blue
}
body {
    border: 2px solid blue;
    margin: 1em auto;
    padding: 1em;
    max-width: 50em;
}